---
import Card from '../components/card.astro';
--- 
 <!DOCTYPE html>
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <Card title="Card1" text="Card texto 1"/>
    <Card title="Card2" text="Card texto 2"/>
    <Card title="Card3" text="Card texto 3"/>
</body>
</html> 